body {
    font-family: 'Roboto', arial;
    margin: 0; padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerScreen {
    
}

.smallShadow {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-calc {
    background-color: lightblue;
    border: 3px solid lightgray;
    padding: 1px;
    display:flex;
    flex-direction: column;
    border-radius:8px;
}

.btn {
    padding: 20px 24px;
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
    font-size: large;
    /*border-radius: 8px;*/
}

.btnNumbers {
    background-color: white;
}

.btnOperator {
    background-color: whitesmoke;
}

#buttonEquals {
    background-color: #ffbf69;
    font-size: x-large;
}

.btnClear, .btnDel {
    padding: 10px 14px;
}

.button-grid {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow:dense;
}

.button-grid2 {
    display:grid;
    grid-template-columns: auto auto;
}

.keys {
    display: flex;
    padding: 15px;
    padding-top:0;
}

.result-box {
    background-color: white;
    border: 1px solid black;
    width: 330px;  
    height: 80px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.result-box h1, h3 {
    margin: 0;
    max-width: 95%;
}

.optionButtons {
    width: 91%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}
