body {
    font-family: 'Roboto', arial;
    margin: 0; padding: 0;
}

.centerScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.smallShadow {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-calc {
    background-color: lightblue;
    border: 3px solid lightgray;
    padding: 10px;
    display:flex;
    flex-direction: column;
    border-radius:8px;
    margin-bottom:20px;
}

.btn {
    padding: 20px 29px;
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
    font-size: x-large;
    /*border-radius: 8px;*/
}

.btnNumbers {
    background-color: white;
}

.btnOperator {
    background-color: whitesmoke;
    color:darkgreen;
}

#buttonEquals {
    background-color: #ffbf69;
    font-size: x-large;
}

.btnClear, .btnDel {
    padding: 10px 14px;
}

.button-grid {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow:dense;
}

.button-grid2 {
    display:grid;
    grid-template-columns: auto auto;
}

.keys {
    display: flex;
    padding: 15px;
    padding-top:0;
}

.result-box {
    background-color: white;
    border: 3px solid lightgray;
    width: 100%;  
    height: 90px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.result-box h1, h3 {
    margin: 0;
    max-width: 95%;
}

.optionButtons {
    width: 91%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}

footer {
    border-top: 1px solid white; 
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 15px;
    border-top: 1px solid darkgray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.contact {
    display:flex;
    margin:50px;
}

.contactContainer {
    padding: 50px;
    background-color: #24252f;
    border: 5px solid rgb(24, 25, 36);
    width:100%
}

.contactItem {
    display:flex;
}

.contactItem a {
    display:flex;
    align-items: center;
    padding:2px;
    padding-right:30px;
    text-decoration: none;
    color:black;
}

.contactItem a:hover .contactH {
    text-shadow: 0 0 5px rgb(133, 125, 204), 0 0 7px #ff0000;
}

.contactItem a img {
    width:auto;
    height:25px;
    margin-right:8px;
}
